<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>INPRES Shop</title>

    <!--
		CSS
		============================================= -->
    <link rel="stylesheet" th:href="@{/css/linearicons.css}">
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/css/nouislider.min.css}">
    <link rel="stylesheet" th:href="@{/css/ion.rangeSlider.css}" />
    <link rel="stylesheet" th:href="@{/css/ion.rangeSlider.skinFlat.css}" />
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

</head>
<body>

<!-- Start Header Area -->
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" th:href="@{/}"><img src="img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" th:href="@{/}">Home</a></li>
                        <th:block sec:authorize="isAuthenticated()">
                            <li class="nav-item"><a class="nav-link" href="" th:utext="${#request.userPrincipal.name}"></a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/admin/logout}">Logout</a></li>
                        </th:block>

                        <th:block sec:authorize="!isAuthenticated()">
                            <li class="nav-item"><a class="nav-link" th:href="@{/admin/login}">Login</a></li>
                        </th:block>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a th:href="@{/shoppingCart}" class="cart"><span class="ti-bag active"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- End Header Area -->

<!-- start banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="owl-carousel">
                    <!-- single-slide -->
                    <div class="row single-slide align-items-center d-flex">
                        <div class="col-lg-5 col-md-6">
                            <div class="banner-content">
                                <h1>Dites bonjour<br>à la couleur.</h1>
                                <p>Facile à maîtriser. Prodigieusement puissant. Le Mac est conçu pour vous permettre de travailler, jouer et créer comme jamais vous ne l’auriez imaginé. Il offre de nombreuses apps intégrées, prêtes à utiliser. Grâce aux mises à jour logicielles régulières et gratuites, tout fonctionne parfaitement. Et si vous possédez déjà un iPhone, votre Mac vous semblera familier dès que vous l’allumerez.</p>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="banner-img">
                                <img class="img-fluid" th:src="@{/img/banner/imac-24.png}" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- single-slide -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->

<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Livraison gratuite</h6>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon2.png" alt="">
                    </div>
                    <h6>Politique de retour</h6>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon3.png" alt="">
                    </div>
                    <h6>Support 24/7</h6>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Paiement sécurisé</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->

<!-- start product Area -->
<section class="owl-carousel  section_gap">
    <!-- single product slide -->
    <div class="single-product-slider">
        <div id="product" class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="section-title">
                        <h1>Produits</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- single product -->

                    <div th:if= "${#request.getParameter('error') == 'true'}" class="genric-btn danger col-md-12">
                        Le produit est en rupture de stock.
                    </div>
                <div class="col-lg-3 col-md-6" th:each="prodInfo : ${paginationProducts.list}">
                    <div class="single-product">
                        <img class="img-fluid" th:src="@{|/productImage?code=${prodInfo.code}|}" alt="">
                        <div class="product-details">
                            <h6><span th:utext="${prodInfo.name}"></span></h6>
                            <div class="price">
                                <h6><span th:utext="${#numbers.formatDecimal(prodInfo.price,1,2,'COMMA')}"/>€</h6>
                            </div>
                            <div class="prd-bottom">

                                <a th:href="@{|/getStock?code=${prodInfo.code}|}" class="social-info">
                                    <span class="ti-bag"></span>
                                    <p class="hover-text">ajouter</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single product -->
            </div>
        </div>
    </div>
</section>
<!-- end product Area -->

<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>A propos de nous</h6>
                    <p>
                        Site de revente en ligne réalisé pour le projet de fin d'année du cours de système distribué.
                    </p>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">Copyright &copy;2021 Tous droits réservés | MARTIN Simon</p>
        </div>
    </div>
</footer>
<!-- End footer Area -->

<script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js}" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script th:src="@{/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/jquery.sticky.js}"></script>
<script th:src="@{/js/nouislider.min.js}"></script>
<script th:src="@{/js/countdown.js}"></script>
<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/js/owl.carousel.min.js}"></script>
<!--gmaps Js-->
<script th:src="@{/js/gmaps.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>

</html>
